.heroName {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(2, 81, 126, 1) 85%,
		rgba(0, 163, 255, 1) 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 10vw;
	font-weight: 1000;
	text-align: center;
	max-width: 59vw;
	animation: move 1s ease-in 0.25s infinite alternate;
}

@media only screen and (max-width: 600px) {
	body {
		background-color: lightblue;
	}
}

@keyframes move {
	0% {
		transform: translateY(0em);
	}
	100% {
		transform: translateY(0.1em);
	}
}
