@media only screen and (max-width: 650px) {
	.rightColSkillCards {
		margin-top: 15vw !important	;
	}
	.leftColSkillCards {
		margin-top: 0vw !important;
	}
	.allSkillCards {
		padding-left: 5.75vmax !important;
		padding-right: 5.75vmax !important;
		width: 8vmax !important;
	}
}

.mt {
	margin-top: 8vw;
}
